<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mock.dao.A5Mapper">
  <resultMap id="BaseResultMap" type="com.mock.entity.A5">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="errorCode" jdbcType="INTEGER" property="errorCode" />
    <result column="errorMsg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="data" jdbcType="VARCHAR" property="data" />
    <result column="timeout" jdbcType="INTEGER" property="timeout" />
    <result column="times" jdbcType="INTEGER" property="times" />
  </resultMap>
  <sql id="Base_Column_List">
    id, priority, errorCode, errorMsg, data, timeout, times
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_mock_a5_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getLatestResult" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_mock_a5_result
    ORDER BY priority desc LIMIT 1
  </select>
  <select id="queryA5List" parameterType="com.mock.vo.A5QueryVo" resultMap="BaseResultMap">
    select * from t_mock_a5_result where 1=1
    <if test="priority !=null">
      	and priority=#{priority,jdbcType=INTEGER}
    </if>
    <if test="errorCode !=null">
      	and errorCode=#{errorCode,jdbcType=INTEGER}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_mock_a5_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBatchByIds" parameterType="list">
      delete from t_mock_a5_result where id in
      <foreach item="idsItem" collection="list" open="(" separator="," close=")">
          #{idsItem}
      </foreach>
  </delete>
  <insert id="insert" parameterType="com.mock.entity.A5">
    insert into t_mock_a5_result (id, priority, errorCode, 
      errorMsg, data, timeout, 
      times)
    values (#{id,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, #{errorCode,jdbcType=INTEGER}, 
      #{errorMsg,jdbcType=VARCHAR}, #{data,jdbcType=VARCHAR}, #{timeout,jdbcType=INTEGER}, 
      #{times,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mock.entity.A5">
    insert into t_mock_a5_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="errorCode != null">
        errorCode,
      </if>
      <if test="errorMsg != null">
        errorMsg,
      </if>
      <if test="data != null">
        data,
      </if>
      <if test="timeout != null">
        timeout,
      </if>
      <if test="times != null">
        times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="timeout != null">
        #{timeout,jdbcType=INTEGER},
      </if>
      <if test="times != null">
        #{times,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mock.entity.A5">
    update t_mock_a5_result
    <set>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="errorCode != null">
        errorCode = #{errorCode,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null">
        errorMsg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        data = #{data,jdbcType=VARCHAR},
      </if>
      <if test="timeout != null">
        timeout = #{timeout,jdbcType=INTEGER},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mock.entity.A5">
    update t_mock_a5_result
    set priority = #{priority,jdbcType=INTEGER},
      errorCode = #{errorCode,jdbcType=INTEGER},
      errorMsg = #{errorMsg,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR},
      timeout = #{timeout,jdbcType=INTEGER},
      times = #{times,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>